# metals
basic-test.ipynb
/Dataset1
/.ipynb_checkpoints
/Untitled.ipynb
/metal/dropout.py
/BC.py
/cython.ipynb
/multiprocess.ipynb
/profiling.ipynb
/Untitled1.ipynb
/cpp/README.MD
/experimental/__pycache__
/experimental/lib/__pycache__
/metal.egg-info
/metal/layers/pooling.py
/tests/.ipynb_checkpoints
/trash
/board
/viz
/examples/randomdata.ipynb
/examples/Untitled.ipynb
/metal/_
/metal/utils/data_loader/.env
/examples/.ipynb_checkpoints
/tests/leakyrelu_test.py
/tests/layer_Conv2d_test.py
/tests/layer_dense_test.py
/data_loader/.env
/examples/models
/examples/Untitled1.ipynb
/examples/Untitled2.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
